@media (max-width: 992px) {
    .container-fluid {
        margin-bottom:6rem;
    }

    .crud-footer .form-group {
        margin-bottom: 0rem;
    }
}

.btn-search-device {
    background-color: var(--color-05);
    color:white;
    cursor:pointer;
}

@media (min-width: 768px) {
    .row.cabecera {
        position: absolute;
        width: calc(100% - 30px);
    }

    #nav-tab {
        position: relative;
    }

    .tab-pane .row {
        margin-top:15px;
    }
}

/* AUTOCOMPLETE */
ul.input-autocomplete-options {
    position: absolute;
    z-index:10;
    margin-top: 38px;
    list-style-type: none;
    min-width: 300px;
}

ul.input-autocomplete-options li {
    border: #c1c5c8 1px solid;
    padding: 7px 15px;
    background-color: #e9ecef;
}

ul.input-autocomplete-options li.no-results {
    color:brown;
    text-align: center;
    cursor: default;
}

ul.input-autocomplete-options li:hover:not(.no-results) {
    background-color: #f6f6f6;
    cursor:pointer;
}