<body>
  <app-nav-menu
    (toggleSidebarEvent)="toggleSidebar($event)"
    *ngIf="isLoggedIn"></app-nav-menu>
  <ng-sidebar-container>
    <ng-sidebar
      [opened]="sidebarOpened"
      *ngIf="isLoggedIn">
      <div sidebar-menu></div>
    </ng-sidebar>
    <div ng-sidebar-content style="margin-top:15px;">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <notifier-container></notifier-container>
      <app-confirm-dialog></app-confirm-dialog>
      <app-historico-cambios></app-historico-cambios>
      <app-spinner-loading></app-spinner-loading>
    </div>
  </ng-sidebar-container>

  <ng-template #mymodal let-modal>
    <div class="modal-header">  
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>  
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">  
        <span aria-hidden="true">×</span>  
      </button>  
    </div>  
    <div class="modal-body">  
      This is example from ItSolutionStuff.com  
    </div>  
    <div class="modal-footer">  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>  
    </div>  
  </ng-template>

</body>