<!-- caja-maestra.component.html -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h3>Caja Maestra</h3>
        </div>
    </div>

    <hr class="divider" />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Registradora 1</th>
                    <th>Registradora 2</th>
                    <th>Factura A</th>
                    <th>Vales</th>
                    <th>Gastos</th>
                    <th>Compras</th>
                    <th>Compras A</th>
                    <th>Compras B</th>
                    <th>Diferencias</th>
                    <th>Efectivo</th>
                    <th>Cheques</th>
                    <th>Tarjeta/M.Pago</th>
                    <th>Gastos Extra</th>
                    <th>Impuestos</th>
                    <th>Sueldos</th>
                    <th>Turno Tarde</th>
                    <th>Turno Mañana</th>
                    <th>Total</th>
                    <th>Fecha de Cierre</th>
                    <th>Cerrar Periodo</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let movimiento of movimientosMaestra">
                    <td class="monto">{{ movimiento.Mes }}/{{ movimiento.Ano }}</td>
                    
                    <td class="monto"  *ngIf="movimiento.Registradora1 >= 0; else debitoRegistradora1">{{ movimiento.Registradora1 | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoRegistradora1>
                        <td class="monto debito">( {{ movimiento.Registradora1 | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td  class="monto" *ngIf="movimiento.Registradora2 >= 0; else debitoRegistradora2">{{ movimiento.Registradora2 | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoRegistradora2>
                        <td class="monto debito">( {{ movimiento.Registradora2 | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.FacturaA >= 0; else debitoFacturaA">{{ movimiento.FacturaA | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoFacturaA>
                        <td class="monto debito">( {{ movimiento.FacturaA | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Vales >= 0; else debitoVales">{{ movimiento.Vales | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoVales>
                        <td class="monto debito">( {{ movimiento.Vales | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Gastos >= 0; else debitoGastos">{{ movimiento.Gastos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoGastos>
                        <td class="monto debito">( {{ movimiento.Gastos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Compras >= 0; else debitoCompras">{{ movimiento.Compras | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoCompras>
                        <td class="monto debito">( {{ movimiento.Compras | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.ComprasA >= 0; else debitoComprasA">{{ movimiento.ComprasA | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoComprasA>
                        <td class="monto debito">( {{ movimiento.ComprasA | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.ComprasB >= 0; else debitoComprasB">{{ movimiento.ComprasB | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoComprasB>
                        <td class="monto debito">( {{ movimiento.ComprasB | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td  class="monto" *ngIf="movimiento.Diferencias >= 0; else debitoDiferencias">{{ movimiento.Diferencias | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoDiferencias>
                        <td class="monto debito">( {{ movimiento.Diferencias | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Efectivo >= 0; else debitoEfectivo">{{ movimiento.Efectivo | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoEfectivo>
                        <td class="monto debito">( {{ movimiento.Efectivo | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Cheques >= 0; else debitoCheques">{{ movimiento.Cheques | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoCheques>
                        <td class="monto debito">( {{ movimiento.Cheques | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Tarjeta_M_Pago >= 0; else debitoTarjeta_M_Pago">{{ movimiento.Tarjeta_M_Pago | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoTarjeta_M_Pago>
                        <td class="monto debito">( {{ movimiento.Tarjeta_M_Pago | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Gastos_Extra >= 0; else debitoGastos_Extra">{{ movimiento.Gastos_Extra | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoGastos_Extra>
                        <td class="monto debito">( {{ movimiento.Gastos_Extra | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Impuestos >= 0; else debitoImpuestos">{{ movimiento.Impuestos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoImpuestos>
                        <td class="monto debito">( {{ movimiento.Impuestos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.Sueldos >= 0; else debitoSueldos">{{ movimiento.Sueldos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoSueldos>
                        <td class="monto debito">( {{ movimiento.Sueldos | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  class="monto"  *ngIf="movimiento.TurnoN >= 0; else debitoTurnoN">{{ movimiento.TurnoN | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoTurnoN>
                        <td class="monto debito">( {{ movimiento.TurnoN | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto"  *ngIf="movimiento.TurnoM >= 0; else debitoTurnoM">{{ movimiento.TurnoM | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoTurnoM>
                        <td class="monto debito">( {{ movimiento.TurnoM | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>
                   
                    <td class="monto" *ngIf="movimiento.Total >= 0; else debitoTotal">{{ movimiento.Total | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
                    <ng-template #debitoTotal>
                        <td class="monto debito">( {{ movimiento.Total | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
                    </ng-template>

                    <td class="monto">{{ (movimiento.Cierre_Caja | date:'dd/MM/yyyy HH:mm') != '01/01/0001 00:00' ? (movimiento.Cierre_Caja | date:'dd/MM/yyyy HH:mm') : 'NO CERRADA' }}</td>  

                    <td class="monto">
                        <ng-container *ngIf="(movimiento.Cierre_Caja | date:'dd/MM/yyyy HH:mm') == '01/01/0001 00:00'; else cerradoTemplate">
                            <button class="btn btn-primary" (click)="actualizarCierreCaja(movimiento.Id)">Cerrar</button>
                            <button class="btn btn-secondary ml-2">
                                <a [routerLink]="['/cajas/cierre/diario/', movimiento.Ano, movimiento.Mes]" class="text-white text-decoration-none">Detalle</a>
                            </button>
                        </ng-container>
                        <ng-template #cerradoTemplate>
                            Cerrado
                            <button class="btn btn-secondary ml-2">
                                <a [routerLink]="['/cajas/cierre/diario/', movimiento.Ano, movimiento.Mes]" class="text-white text-decoration-none">Detalle</a>
                            </button>
                        </ng-template>
                        
                    </td>
                    
                    
                </tr>
                </tbody>
            </table>
        </div> 
    </div> 
</div> 
    