<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h3>Caja Grande</h3>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1" *ngIf="filtroFecha === undefined || filtroFecha === null || filtroFecha.length === 0">Saldo actual</span>
          <span class="input-group-text" id="basic-addon1" *ngIf="!(filtroFecha === undefined || filtroFecha === null || filtroFecha.length === 0)">Saldo fecha</span>
        </div>
        <input type="text" class="form-control monto" value="{{ saldoActual | currency:'ARS':'symbol':'1.2-2':'es-AR' }}" readonly />
      </div>
    </div>
    <div class="col-md-2">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Ver fecha</span>
        </div>
        <input class="form-control"
            placeholder="- todas -"
            name="dp"
            [(ngModel)]="filtroFecha"
            (ngModelChange)="onFiltroFechaChange($event)"
            ngbDatepicker
            #d="ngbDatepicker"
            restoreFocus="false"
            (click)="d.toggle(); $event.stopPropagation()"
            (document:click)="decideClosure($event, d)"
            readonly>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-sm btn-success right" [routerLink]="['/cajas/fuerte/new']">[+] Nuevo</button>
      <button class="btn btn-sm btn-warning right" [routerLink]="['/cajas/transferencia']" style="margin-right:15px;">[+] Transferencia</button>
    </div>
  </div>
  <hr class="divider" />
  <div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtIndex" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>Fecha / Hora</th>

            <th>Tipo</th>
            <th>Importe</th>

            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of Movimientos">
            <td>{{ movimiento.fechaHora  |  date:'dd/MM/yyyy HH:mm' }} hs</td>

            <td>{{ movimiento.tipo }}</td>
            <td class="monto" *ngIf="movimiento.tipo !== 'Egreso'">{{ movimiento.importe | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</td>
            <td class="monto debito" *ngIf="movimiento.tipo === 'Egreso'">( - {{ movimiento.importe | currency:'ARS':'symbol':'1.2-2':'es-AR' }}  )</td>
            <td>
              {{ movimiento.observaciones }}
              <span *ngIf="movimiento.pago_referencia != null && movimiento.pago_referencia !== ''"> // {{ movimiento.pago_referencia }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
