<div class="container-fluid" id="title-crud">
  <div class="row">
    <div class="col-md-12">
      <h3>Nuevo movimiento en Caja Grande<button class="btn btn-info btn-circular right" (click)="addItem()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-plus"></i></button></h3>
    </div>
  </div>
  <hr class="divider" />
  <br>
  <div class="completo">
    
    <div *ngFor="let item of items; let i = index">
    <div class="row">

      <div class="col-md-1">
        <div class="form-group">
          <label for="formGroupExampleInput">Tipo de Movimiento</label>
          <select class="form-control" [value]="item.observaciones" (change)="onObservacionesChange($event, i)">
            <option *ngFor="let opcion of opcionesTipoMovimiento" [value]="opcion">{{ opcion }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <label for="formGroupExampleInput">Importe</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number"
              class="form-control"
              placeholder="0,00"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 44"
              [value]="item.importe"
              (input)="onImporteChange($event, i)" />
          </div>
        </div>
      </div>

      <div class="col-md-2  d-none">
        <div class="form-group">
          <label for="formGroupExampleInput">Efectuado por</label>
          <input type="text"
              class="form-control"
              placeholder="Efectuado por"
              readonly
              [(ngModel)]="crud.model.usuarioNombre" />
        </div>
      </div>

      <div class="col-md-2" >
        <div class="form-group">
          <label for="formGroupExampleInput">{{ item.observaciones === 'Sueldos' ? 'Empleado' : 'Observaciones' }}</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="item.pago_referencia"
              maxlength="50"
              (input)="onPago_referenciaChange($event, i)"
              [placeholder]="item.observaciones === 'Sueldos' ? 'Apellido, Nombre' : 'Observaciones'" />
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <button class="btn btn-danger btn-sm"  (click)="removeItem(i)" data-toggle="tooltip" data-placement="top" title="Eliminar" [disabled]="items.length < 2"><i class="fa fa-minus"></i></button>
      </div>

    </div>
    
    <div class="row" [hidden]="crud.model.tipo !== 'H'" style="margin-bottom:20px;">
      <div class="col-md-1" style="padding-top: 5px;">
        <div class="material-switch pull-left"><!-- <div class="material-switch pull-right"> -->
            <input
              id="switchEsCtaCte"
              type="checkbox"
              [(ngModel)]="crud.model.esCtaCte"
              />
            <label for="switchEsCtaCte" class="switch-danger"></label>
        </div>
        &nbsp;&nbsp;&nbsp;<b>ES CTA CTE</b>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cancelar saldo de Proveedor</span>
          </div>
          <input
            id="proveedorSearch"
            type="text"
            class="form-control"
            [(ngModel)]="proveedor_search"
            placeholder="Buscar por CUIT o Razón social..." />
          <ul class="input-autocomplete-options">
            <li
              class="no-results"
              *ngIf="proveedoresSearch !== undefined && proveedoresSearch.length === 0"
              >
                <small>SIN RESULTADOS</small>
            </li>
            <li
              *ngFor="let proveedor of proveedoresSearch; let i = index"
              (click)="onProveedorSearchSelectItem(proveedor)"
              >
                <small *ngIf="proveedor.esEmpresa">{{ proveedor.tipoDocumento }} {{ proveedor.numeroDocumento }} /// {{ proveedor.razonSocial }}</small>
                <small *ngIf="!proveedor.esEmpresa">{{ proveedor.tipoDocumento }} {{ proveedor.numeroDocumento }} /// {{ proveedor.nombre }} {{ proveedor.apellido }}</small>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Saldo deudor&nbsp;&nbsp;$</span>
          </div>
          <input type="text"
            class="form-control"
            placeholder="-"
            readonly
            value="{{ proveedor_saldo_deudor | currency:'ARS':'symbol':'1.2-2':'es-AR' }}" />
        </div>
      </div>
    </div>

  </div>
  </div>

  <div class="row crud-footer">
    <div class="col-md-12">
      <button class="btn btn-danger btn-circular left" (click)="onCancelClick()" data-toggle="tooltip" data-placement="right" title="Cancelar"><i class="fa fa-times"></i></button>
      <button class="btn btn-success btn-circular right" (click)="onSaveClick()" data-toggle="tooltip" data-placement="left" title="Guardar"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
