tr.pending {
    background-color:#feef87 !important;
}
tr.prepared {
    background-color:#95fe87 !important;
}

::ng-deep .modalConfirmarPedido .modal-dialog {
    max-width: 900px !important;
    width: 900px !important;
}
