<h1 style="margin: 20px 0px 0px 40px">DashBoard - Estadísticas Sucursal Merlo</h1>
<mat-card style="margin: 20px 40px 40px 40px">

<mat-card-content class="dashboard-card-content">
  <mat-grid-list cols="4" rowHeight="50px">

    <mat-grid-tile>

    <div class="container">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas en el Mes</h5>
          <p class="card-text">{{totalIngresosPorMes}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Egresos en el Mes</h5>
          <p class="card-text">{{totalEgresosPorMes}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas en el Año</h5>
          <p class="card-text">{{totalIngresosPorAnio}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Egresos en el Año</h5>
          <p class="card-text">{{totalEgresosPorAnio}}</p>
        </div>
      </div>

    </div>


    </mat-grid-tile>
  </mat-grid-list>



  <div class="chart-container">
    <mat-card class="chart-card">
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas id="myChart"></canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas id="myChart2"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

    </mat-card-content>
</mat-card>


<h1 style="margin: 20px 0px 0px 40px">DashBoard - Estadísticas Sucursal Ramos Mejia</h1>
<mat-card style="margin: 20px 40px 40px 40px">

<mat-card-content class="dashboard-card-content">
  <mat-grid-list cols="4" rowHeight="50px">

    <mat-grid-tile>

    <div class="container">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas en el Mes</h5>
          <p class="card-text">{{totalIngresosPorMes}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Egresos en el Mes</h5>
          <p class="card-text">{{totalEgresosPorMes}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventas en el Año</h5>
          <p class="card-text">{{totalIngresosPorAnio}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Egresos en el Año</h5>
          <p class="card-text">{{totalEgresosPorAnio}}</p>
        </div>
      </div>

    </div>


    </mat-grid-tile>
  </mat-grid-list>



  <div class="chart-container">
    <mat-card class="chart-card">
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas id="myChart3"></canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-content>
        <div class="chart-wrapper">
          <canvas id="myChart4"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

    </mat-card-content>
</mat-card>
